body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aligned-block {
  display: inline-flex;
  align-items: center;
}

.aligned-block > * {
  margin-top: auto;
  margin-bottom: auto;
}

div.table-nav {
  border: lightgray thin solid;
  border-top: none;
}

div.table-nav > button:hover {
  background-color: lightgray;
}

div.table-nav > button:disabled {
  font-weight: bold;
  pointer-events: none;
  background-color: buttonface;
  color: black;
}

div.table-nav > button {
  border: none;
}

table.fixed {
  table-layout: fixed;
  width: 100%;
}

table.fixed td {
  overflow: hidden;
}

div.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

div.modal > div.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid black;
  width: 80%;
}